<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="mt-3">Результат:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="http://127.0.0.1:5002/api/items/{{ uri }}" class="img-fluid" style="max-width: 256px;">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="btn-group mt-3" style="margin-top: 30px;">
                <button type="button" class="btn btn-sm btn-outline-primary">
                    <a href="http://127.0.0.1:5002/api/items/{{ uri }}?download=1">Завантажити</a>
                </button>
            </div>
        </div>
    </div>
</div>
