<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <ul class="nav col-12 col-lg-auto me-lg-auto justify-content-center">
                    <li>
                        <div class="d-flex align-items-center">
                            <img src="{{ url_for('static', filename='images/logo.png') }}" style="max-width: 48px; height: auto;">
                            <p class="nav-link px-2 text-secondary d-none d-lg-block" style="margin-bottom: 0; font-size: 1.1em;"> {{ appname }} </p>
                        </div>
                    </li>
                    <li><a href="{{ url_for('index') }}" class="nav-link px-2 {{'text-grey' if active_page == 'index' else 'text-white'}}" style="padding: 0 0; line-height: 44.55px;">Генерація графіки</a></li>
                    <li><a href="{{ url_for('library') }}" class="nav-link px-2 {{'text-grey' if active_page == 'library' else 'text-white'}}" style="padding: 0 0; line-height: 44.55px;">Бібліотека</a></li>
                </ul>
            </div>
            <div class="d-flex align-items-center">
                {% if current_user %}
                    <p class="nav-link px-2 text-secondary d-none d-md-block" style="margin-bottom: 0;">Ви увійшли як </p><b>{{ current_user }}</b>
                    <a href="{{ url_for('logout') }}" class="nav-link px-2 text-white" style="margin-left: 40px;">Вийти</a>
                {% else %}
                    <a href="{{ url_for('login') }}" class="nav-link px-2 text-white">Увійти</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>
