<!doctype html>
<html lang="en" data-bs-theme="auto">

  <head>

    {% include "head.html" %}

    <script>
      function validateInput() {
          var inputText = document.getElementById('generate-text-prompt').value;
          var buttonSubmit = document.getElementById('generate-submit');

          if (inputText.trim() === '') {
              buttonSubmit.disabled = true;
          } else {
              buttonSubmit.disabled = false;
          }
      }
    </script>

  </head>

  <body class="bg-body-tertiary">

    {% include "header.html" %}

    <main>
      <div>
        <div class="container d-flex align-items-center" style="margin-top: 20vh;">
          <form id="generate-form" method="post" class="form-group mb-3 col-sm-6 mx-auto search-width">

            <input type="text" id="generate-text-prompt" oninput="validateInput()" name="text_prompt" class="form-control" id="searchInput" placeholder="Введіть текстову підказку" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">

            <label for="model-select" class="form-label" style="margin-top: 20px;">Оберіть модель:</label>
            <select class="form-select" name="model_uri" id="model-select">
              {% for model in models %}
                <option value="{{ model.uri }}">{{ model.name }}</option>
              {% endfor %}
            </select>

            <input type="submit" id="generate-submit" value="Згенерувати" class="form-control" style="margin-top: 50px;" disabled>

            <div id="generate-result" class="text-center"></div>
          </form>
        </div>
      </div>
    </main>

    <script src="{{ url_for('static', filename='js/generate.js') }}"></script>

  </body>
</html>
