<div class="col">
  <div class="card shadow-sm">
      <img class="card-img-top" src="http://127.0.0.1:5002/api/items/{{ in.uri }}">

      <div class="card-body">

        <p class="card-text">
            {{ in.text_prompt }}

            <span class="small text-secondary">
                {% for category in in.categories %}
                  {% if not loop.first %} / {% endif %}
                  {{ category }}
                {% endfor %}
            </span>
        </p>

        <p>
            {% for group in in.groups %}
              <span class="badge rounded-pill" style="background-color: {{ group.brand_color }};">{{ group.name }}</span>
            {% endfor %}
        </p>

        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-primary"><a href="http://127.0.0.1:5002/api/items/{{ in.uri }}?download=1">Завантажити</a></button>
          </div>
          <small class="text-body-secondary px-2">{{ in.uploaded_at }}</small>
        </div>

      </div>

  </div>
</div>
