<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>

    {% include "head.html" %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/album.css') }}">

  </head>

  <body>

    {% include "header.html" %}

    <main>
      <div class="album py-5 bg-body-tertiary"">
        <div class="container">
          <form action="/library" method="get" class="row">
            <!-- Колонка для фільтра -->
            <div class="col-md-3 mb-3">

              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="d-none d-lg-inline">Налаштування фільтру</span>
                  <span class="d-inline d-lg-none">Фільтри</span>
                </button>

                <ul class="dropdown-menu px-2" aria-labelledby="dropdownMenuButton">
                  {% for category in categories %}
                    <li>
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="category-check-{{ category }}" name="categories" value="{{ category }}" {{'checked' if category in selected_categories else ''}}>
                        <label class="form-check-label" for="category-check-{{ category }}">{{ category }}</label>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              </div>

            </div>

            <!-- Колонка для пошуку -->
            <div class="col-md-6 mb-3">
              <input type="text" class="form-control" name="text_prompt" id="text_prompt" placeholder="Введіть текстову підказку" {{'value=' + text_prompt + '' if text_prompt != '' else ''}}>
            </div>

            <div class="col-md-3 mb-3">
              <input type="submit" value="Пошук" class="form-control">
            </div>
          </form>
        </div>

        <div class="container mt-5">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 row-cols-">

              {% include "popup-upload.html" %}

              {% for item in items %}
                {% with in=item %}
                  {% include 'item.html' %}
                {% endwith %}
              {% endfor %}

            </div>
          </div>
        </div>
      </main>

      <script>
        $(document).ready(function() {
          var csrfToken = $('meta[name="csrf-token"]').attr('content');
          $.ajaxSetup({
              beforeSend: function(xhr) {
                  xhr.setRequestHeader('X-CSRF-TOKEN', csrfToken);
              }
          });
        });
      </script>

      </body>
</html>
