<!doctype html>
<html lang="en" data-bs-theme="auto">

  <head>

    {% include "head.html" %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <style>
        .error-message {
            color: red;
            margin-top: 10px;
        }

        #login-form .form-group {
            margin: 20px 0;
        }
    </style>

  </head>

  <body class="bg-body-tertiary">

    {% include "header.html" %}

    <main>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form id="login-form" class="border p-4">
                        <div class="form-group">
                            <label for="username">Введіть логін:</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Введіть пароль:</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Увійти</button>
                        <div class="error-message"></div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <script>
        $("#login-form").submit(function(event) {
            event.preventDefault();

            var username = $("#username").val();
            var password = CryptoJS.SHA256($("#password").val()).toString(); 

            $.ajax({
                type: "POST",
                url: "/login",
                data: {
                    username: username,
                    password: password
                },
                success: function(response) {
                    // Redirect to the home page on successful authentication
                    window.history.back();
                },
                error: function(response) {
                    // Display an error message on failed authentication
                    $(".error-message").text("Невірні дані. Спробуйте ще раз...");
                }
            });
        });
    </script>

  </body>
</html>
