<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">&mapstoup; Поповнити колекцію &mapstoup;</button>

<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadModalLabel">Додайте зображення та заповніть інформацію:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="upload-modal-form" action="/upload" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="upload-modal-file">Оберіть файл:</label>
                        <input type="file" class="form-control-file" id="upload-modal-file" name="image" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="upload-modal-text-prompt" name="text-prompt" placeholder="Введіть текстовий опис (необов'язково)">
                    </div>
                    <button type="submit" class="btn btn-primary">Відправити</button>
                </form>
            </div>
        </div>
    </div>
</div>
